/* Variables for easier color management */
$primary-color: #000000;
$secondary-color: #fff;
$accent-color: #f5f5f5;
$overlay-color: rgba(108, 208, 255, 0.5);




/* Define font face for Playfair Display */
@font-face {
    font-family: 'Playfair Display';
    src: url('/assets/fonts/PD-static/PlayfairDisplay-Regular.ttf') format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
}